## Introduction to Jupyter notebooks

There are two types of cell modes in Jupyter:
- Command mode (with a blue box)
- Edit mode (with a green box)

To run a cell, press Shift+Enter

In command mode (after pressing Esc), 
- click 'm' to go into Markdown cell type
- click 'y' to switch to Python code cell type

To create a cell above the current cell, press 'a'.  
To create a cell below the current cell, press 'b'.  
To delete a cell, press 'd' twice in command mode

For Markdown guide, use www.markdownguide.org/cheat-sheet

## Variables and Arithmetic Expressions

In [7]:
6+3*5

21

Equals `=` sign is called the assignment operator. It assigns the value to its right to the variable to its left.

In [4]:
a = 10

In [5]:
print(a)

10

In [6]:
b = 'Hello'
print(b)

Hello

### Combining variable assignment with arithmetic expressions

In [14]:
a = 5
b = 10
c = a*b
print(c)

50

### Rules for creating variable names

- Only letters, numbers and underscore (\_) characters in the names
- Variable name cannot begin with a number
- Variable name cannot be a Python keyword
- Variable names are case-sensitive

### Conventions
- Use lowercase rather than uppercase
- Variable names starting with '_' have a special role in Python
- Descriptive yet concise

In [15]:
abc = 20
abc12 = 30
a12_3 = 4.5

In [16]:
1abc = 20

SyntaxError: invalid syntax (<ipython-input-16-7acd9157b695>, line 1)

In [19]:
# This is a comment
# Variable names starting with '_' have a special role in Python
_abc = 10

In [20]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [23]:
for = 2

SyntaxError: invalid syntax (<ipython-input-23-81f260bd2c61>, line 1)

In [24]:
xyz = 10
XYZ = 20
XyZ = 30

In [25]:
this_is_a_variable_name = 10

#### Concept Check 
Which of the following variable names will give errors?

In [26]:
for = 2 # error
for1 = 2
FOR = 2
For = 2
for_ = 2
1for = 2 # error
for_abc£ = 2 # error

SyntaxError: invalid syntax (<ipython-input-26-e56f0fa4e17e>, line 1)

In [28]:
# Helpful function to list all the variables created so far
whos
# if the above command does not work, try %whos

Variable                  Type                          Data/Info
-----------------------------------------------------------------
NamespaceMagics           MetaHasTraits                 <class 'IPython.core.magi<...>mespace.NamespaceMagics'>
XYZ                       int                           20
XyZ                       int                           30
a                         int                           5
a12_3                     float                         4.5
abc                       int                           20
abc12                     int                           30
b                         int                           10
c                         int                           50
d                         int                           10
for12                     int                           2
get_ipython               function                      <function get_ipython at 0x00000228954A58B0>
getsizeof                 builtin_function_or_method    <built-in function getsizeof>
json                      module                        <module 'json' from 'C:\\<...>\lib\\json\\__init__.py'>
np                        module                        <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
this_is_a_variable_name   int                           10
var_dic_list              function                      <function var_dic_list at 0x00000228995AB280>
xyz                       int                           10

## Strings
String data type holds a sequence of characters (letters, numbers, punctuations, symbols etc.)

There are different ways to create a string:
- single quotes (')
- double quotes (")
- three single/double quotes (''' or """)

In [29]:
my_str1 = 'Hello CE02' # using single quotes
print(my_str1)

Hello CE02

In [30]:
my_str2 = "We are learning Python" # double quotes
print(my_str2)

We are learning Python

In [32]:
my_str3 = '''This is going to be a fun week!!!''' # three single quotes
print(my_str3)

This is going to be a fun week!!!

In [33]:
my_str4 = 'Ram said, "Hello CE02"'
print(my_str4)

Ram said, "Hello CE02"

In [36]:
my_str5 = """
This
is
a
multi-line
string"""
print(my_str5)

This
is
a
multi-line
string

In [37]:
my_str6 = '''Ram's sister said, "This is a string"'''
print(my_str6)

Ram's sister said, "This is a string"

### Formatting strings
Formatting strings is useful if you have a string with placeholders and you want to replace the placeholders with variable names.  
Placeholders are created in the string using curly brackets `{}`

In [40]:
name = 'Finn'
number = '0795 xxx xxx'
print('Hi, my name is {} and my number is {}'.format(name, number)) # old way

Hi, my name is Finn and my number is 0795 xxx xxx

### Using f-strings

In [41]:
print(f'Hi, my name is {name} and my number is {number}')

Hi, my name is Finn and my number is 0795 xxx xxx

### Raw string literals (r-strings)

In [43]:
print('This is a message\n\n\n\tThis is another message')

This is a message


	This is another message

Escape sequence: https://docs.python.org/3/reference/lexical_analysis.html

In [44]:
print(r'This is a message\n\n\n\tThis is another message')

This is a message\n\n\n\tThis is another message

#### Concept Check
- Create two variables 'base' and 'height' (assume they are two sides of a right angled triangle)
- Find the hypotenuse of this triangle using the formula `hypotenuse**2 = height**2 + base**2`

#### Concept Check 
Write a single expression for the perimeter of a rectangle, given width `a` and height `b`

## Conditional statements

Syntax for if statement: 

```
if <condition>:
    statements to execute if condition is satisfied
```

Thereis an optional `else` statement that works with `if`

```
if <condition>:
    statements to execute if condition is satisfied
else:
    statements to execute if condition is not satisfied
```

In [46]:
a = 1
if a>5:
    print('a is greater than 5')

In [48]:
a = 15
b = 10

if a>b:
    print('a is smaller than b')
    print('The condition is satisfied!!')
else:
    print('a is greater than b')
    print('The condition is not satisfied!!!')
    
print('Exiting the conditional branch')

a is smaller than b
The condition is satisfied!!
Exiting the conditional branch

#### Concept Check
Here, we will write some basic code to calculate the amount in a bank account after interest.

1. Create several variables and assign them values:
- principal (the initial amount in the account)
- rate (the yearly interest rate)
- years (number of years to do compounding)

2. Calculate the amount in the bank account if principal compounds at the specified rate' over years.
Assign this to variable new_principal.

3. Print the amount in the bank account, specifying whether the money is owed or not. For example, 
- If new_principal is -50, then print "\$50 owed".
- If new_principal is 50, then print "\$50 in account".

In [6]:
# Will's solution
principal = 10
rate = 0.01
years = 12

new_principal = principal * (1+rate) ** years

if new_principal > 0:
    print(f'£{new_principal:.2f} In the account')
else:
    print(f'£{new_principal:.2f} owed')

£11.27 In the account

## Collections
There are four main data types in Python for storing multiple values in a single variable
- Lists
- Tuples
- Sets
- Dictionaries

Three main properties associated with each collection:
- **Mutability** - whether you can change the value of the collection after creation
- **Ordering** - whether the values are ordered
- **Uniqueness** - where there can be more than one of the same value in the collection

### Lists
- Used to store a sequence of items
- **Mutable**, **ordered** collection of values
- Created using a pair of square brackets `[]`

In [7]:
my_list = [1,2,3]
print(my_list)

[1, 2, 3]

In [8]:
my_list2 = ['a','b','c']
print(my_list2)

['a', 'b', 'c']

Appending elements to a list

In [9]:
# Use .append() to all elements to a list
my_list.append(4)

In [10]:
print(my_list)

[1, 2, 3, 4]

Accessing elements from a list using indexing (i.e. `my_list[n]`)

In [11]:
my_list[0] # the first element of a list has an index 0

1

In [13]:
my_list[4] # this will throw an error because this tries to access an element that does not exist

IndexError: list index out of range

Inserting elements into a list using `.insert(loc,value)` where `loc` corresponds to the index where you're inserting the `value` element

In [18]:
my_list2.insert(0,'z')

In [19]:
print(my_list2)

['z', 'a', 'b', 'c']

Removing an item from the list

In [20]:
my_list2.remove('z')
print(my_list2)

['a', 'b', 'c']

In [21]:
my_list2.remove('z')

ValueError: list.remove(x): x not in list

Concatenate two lists using `+`

In [23]:
my_list_concat = my_list + my_list + my_list
print(my_list_concat)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [24]:
my_list_concat.remove(1)

In [25]:
print(my_list_concat)

[2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

#### Concept Check
We looked at `insert` and `append` methods. There is another method called `sort`. Can you create a list of 5 names and use the `sort` method to sort the list?

In [31]:
names = ['Abdullah','Alfie','Finn','Gianluigi','Magnus']
print(names)

['Abdullah', 'Alfie', 'Finn', 'Gianluigi', 'Magnus']

In [32]:
names.sort(reverse=True)
print(names)

['Magnus', 'Gianluigi', 'Finn', 'Alfie', 'Abdullah']

In [30]:
names1 = ['alpha','bravo','Charlie','Delta','echo']
names1.sort()
print(names1)

['Charlie', 'Delta', 'alpha', 'bravo', 'echo']

In [33]:
mix = ['a','b',1.5,2.3,4,7]
print(mix)

['a', 'b', 1.5, 2.3, 4, 7]

In [34]:
mix.sort()
print(mix)

TypeError: '<' not supported between instances of 'float' and 'str'

In [35]:
list_a = [1,1,1,1,1]
print(list_a)

[1, 1, 1, 1, 1]

### Tuples
- Tuples are similar to lists except that they are **immutable**
- Tuples are created using round brackets ()

In [36]:
my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [37]:
my_tuple[0]

1

Tuples are useful for grouping different variables together

In [38]:
person = ('Nathan','07723 xxx xxx','London')
print(person)

('Nathan', '07723 xxx xxx', 'London')

In [39]:
name = 'Ram'
number = '07712 xxx xxx'
city = 'Liverpool'
person1 = (name, number, city)
print(person1)

('Ram', '07712 xxx xxx', 'Liverpool')

Concatenate two tuples using `+`

In [40]:
person + person1

('Nathan', '07723 xxx xxx', 'London', 'Ram', '07712 xxx xxx', 'Liverpool')

In [41]:
print(person)

('Nathan', '07723 xxx xxx', 'London')

Converting from a tuple to a list and vice-versa

In [ ]:
person_list = list(person)
print(person_list)

In [43]:
person_tuple = tuple(person_list)
print(person_tuple)

('Nathan', '07723 xxx xxx', 'London')

### Sets
- Sets are **mutable**, **unordered** collection of **unique** values
- Created using curly brackets `{}`

In [44]:
my_set = {1,2,3,4,4,4,4,5,6,7,7,7,8}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [45]:
print(my_list_concat)

[2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [46]:
my_set2 = set(my_list_concat)
print(my_set2)

{1, 2, 3, 4}

In [48]:
my_set2.add(4)
print(my_set2)

{1, 2, 3, 4, 5}

In [49]:
my_set3 = {'a','b','c'}

### Dictionaries
A **mutable** collection of **key-value pairs** created by enclosing them with curly brackets `{}`

`{key1: value1, key2: value2}`
In this case, `key1:value1` corresponds to `item1` in the dictionary

In [52]:
my_dict = {'name': 'MattM', 'location': 'New York'}
print(my_dict)

{'name': 'MattM', 'location': 'New York'}

In [53]:
my_dict['name']

'MattM'

In [54]:
my_dict['location']

'New York'

In [55]:
my_dict2 = {'names': ['MattM','MattT','Abhishek']}
print(my_dict2)

{'names': ['MattM', 'MattT', 'Abhishek']}

In [57]:
my_dict2['names'][2]

'Abhishek'

In [58]:
my_dict.keys()

dict_keys(['name', 'location'])

In [59]:
my_dict.values()

dict_values(['MattM', 'New York'])

In [60]:
my_dict.items()

dict_items([('name', 'MattM'), ('location', 'New York')])

#### Concept Check:
1. What are the differences between a list, tuples, sets and dictionaries?
2. You want a data structure to store pairs of names and phone numbers. What should you use?
3. You want a collection to contain the names of all students in the class. What data structure should you use?
4. You want a collection to contain the names and phone numbers of all students in the class. What data structure should you use?

## Iteration and Looping
Iteration means going through a collection one element at a time

### Iterating through items in a list

In [61]:
fruits = ['apple','banana','orange']
print(fruits)

['apple', 'banana', 'orange']

Use `for` statement to iterate through a collection

```
for <each_item> in <collection>:
    process item
```

In [74]:
for i in fruits:
    print(i)
    print('-----')    
print('*****')

apple
-----
banana
-----
orange
-----
*****

In [66]:
# Abhishek's Question about enumeration: Advanced! We will look into this in Part 3 of Core Python
for n, item in enumerate(fruits):
    if n<2:
        print(item)

apple
banana

In [68]:
# Alfie's Question about printing a set of numbers
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### Iterating through items in a tuple

In [75]:
veggies = ('potato','carrot','aubergine')
for item in veggies:
    print(item.upper())

POTATO
CARROT
AUBERGINE

### Iterating though items in a dictionary

In [84]:
my_dict = {'name': 'James', 'location': 'Tokyo'}
for element in my_dict:
    print(f'Key is {element} and Value is {my_dict[element]}')

Key is name and Value is James
Key is location and Value is Tokyo

In [78]:
for item in my_dict: # this 'item' doesn't correspond to 'items' in a dictionary
    print(item)

name
location

## Functions
Functions are useful for encapsulating logic in a program.  
Functions are created using the `def` keyword

In [85]:
def multiply(a,b):
    result = a*b
    return result

In [86]:
c = multiply(20,13)
print(c)

260

In [88]:
d = multiply(8.7,10.5)
print(d)

91.35

In [89]:
def say_hello(name):
    print(f'Hello {name}, welcome to Kubrick!')

In [91]:
say_hello('Dandison')

Hello Dandison, welcome to Kubrick!

## File I/O
We can use Python to read/write to files.
- Different modes for file handling - 'w','r','a'
- In the examples below, we only specify the filename which means that it will get saved in to the same folder as our notebook.
- You can also provide the absolute path (i.e. the entire path) with a raw string literal to save it to a different folder
- You can also use something like `..\example.txt` to save it in the parent folder of our current working directory
- `.\example.txt` refers to the file `example.txt` in the current working directory

In [92]:
# write to file
text = 'This is a sentence to write to a file.'
#my_file = open('example.txt','w') # 'w' indicates that it is write mode
my_file = open(r'C:\OneDriveKG\CE\CE02\Python\course_notes\example.txt','w')
my_file.write(text)
my_file.close()

In [98]:
# Read from file
my_file = open(r'.\example.txt','r') # 'r' indicates read mode
text_1 = my_file.read()
my_file.close()
print(text_1)

This is a sentence to write to a file.

In [99]:
text2 = 'This is another sentence.'
my_file = open(r'C:\OneDriveKG\CE\CE02\Python\course_notes\example.txt','a')
my_file.write(text2)
my_file.close()

In [100]:
# Context handlers `with` statement
with open('example2.txt','w') as my_file:
    my_file.write(text2)

#### Concept Check
1. Create a list containing names of five other people in your cohort. 
2. Use a loop to write the names to a file
3. Encapsulate the logic in Steps 1 and 2 into a function.

In [101]:
# Part 1
ce02_list = ['Abdullah','Finn','Gianluigi','James','Magnus']

In [102]:
# Part 2
my_file = open('ce02_list.txt','w')

for student in ce02_list:
    my_file.write(student)
    my_file.write('\n')
my_file.close()

In [103]:
# Part 3
def write_names_to_file(list_of_names, file_to_save):
    my_file = open(file_to_save, 'w')
    for student in list_of_names:
        my_file.write(student)
        my_file.write('\n')
    my_file.close()

In [104]:
ce02_alt_list = ['Abhishek','MattM','Dandison','MattT']
my_file = 'ce02_alt_list.txt'

In [105]:
write_names_to_file(ce02_alt_list,my_file)

## Objects and Classes
In Python, every piece of data is an object. Each object has a specific type. We can create our own custom types by using classes.

So far, we have looked at a few different built-in object types such as strings, integers, floats, lists, tuples etc.

In [106]:
items = (1,2,3)

In [108]:
# To see the type of an object, we can use the in-built type function
type(items)

tuple

In [109]:
type(ce02_list)

list

In [112]:
# To see the methods and attributes of an object, we can use the built-in dir function
dir(ce02_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

You can create your own custom object types using classes. Classes are the blueprint for creating Python objects

In [113]:
person1 = ('Ram','07797 xxx xxx','London')
person2 = ('Mike','07486 xxx xxx','Singapore')
person3 = ('Gian','07948 xxx xxx','Canada')

In [114]:
class Person:
    def __init__(self, name, number, location): # dunder or double underscore methods
        self.name = name # attributes
        self.number = number
        self.location = location
        
    def say_hello(self): # methods
        print(f'Hello {self.name}, welcome to Kubrick!')
        
    def print_salary(self, salary):
        print(f"{self.name}'s salary is £{salary}")

In [115]:
person1 = Person('Ram','07797 xxx xxx','London')

In [116]:
person1.say_hello()

Hello Ram, welcome to Kubrick!

In [117]:
person1.print_salary(10000000)

Ram's salary is £10000000

In [119]:
type(person1)

__main__.Person

In [123]:
person1.name

'Ram'

In [124]:
person2 = Person('Mike','07486 xxx xxx','Singapore')

In [125]:
person2.name

'Mike'

In [ ]:
person1.name

In [127]:
person2.say_hello()

Hello Mike, welcome to Kubrick!

In [ ]:
class Person:
    def __init__(self, name, number, location): # dunder or double underscore methods
        self.name = name # attributes
        self.number = number
        self.location = location
        
    def say_hello(self): # methods
        print(f'Hello {self.name}, welcome to Kubrick!')
        
    def print_salary(self, salary):
        print(f"{self.name}'s salary is £{salary}")

#### Concept Check 
- Create a `Movie` class with three attributes `title`,`year`,`genre`
- Create an instance method that prints out the details of your favourite movie created as an instance of this class `Movie`

In [128]:
class Movie:
    def __init__(self, title, year, genre): # first argument is usually self
        self.title = title
        self.year = year
        self.genre = genre
        
    def print_details(self):
        print(f'{self.title} is a {self.genre} movie released in {self.year}')

In [129]:
movie1 = Movie('The Lion King 2','1998','animation')

In [130]:
movie1.print_details()

The Lion King 2 is a animation movie released in 1998

In [131]:
movie2 = Movie('The Godfather','1972','crime-thriller')

In [133]:
movie2.title

'The Godfather'

In [134]:
movie2.year

'1972'

In [135]:
movie2.print_details()

The Godfather is a crime-thriller movie released in 1972