# Introduction and Terminology

## Object - Identity, Type and Value

Every piece of data in python is an object. Each object has the following:

 - An identity (id)
 - A type
 - A value

When an object is created, its ID and type cannot be changed.

The id of an object can be returned using  the in-built function `id`.

In [1]:
x = 10
print(id(x))

140716918384720

In [2]:
y = 20
print((id(y)))

140716918385040

In [3]:
x = x+5
print (id(x)) # id of this int variable changes when the value is changed

140716918384880

The type of an object can be returned using the in-built function `type`.

In [4]:
type(x)

int

In [5]:
def print_id_type(var):
    '''
    Function to print out id and type of variable 'var'
    '''
    print(f'id of the variable is {id(var)}')
    print(f'type of the variable is {type(var)}')

In [6]:
print_id_type(x)

id of the variable is 140716918384880
type of the variable is <class 'int'>

In [7]:
x = [1,2,3]
y = [1,2,3]

print_id_type(x)

id of the variable is 2607709382464
type of the variable is <class 'list'>

In [8]:
if id(x) == id(y):
    print('x and y have the same id')
else:
    print('x and y have different ids')

x and y have different ids

In [14]:
x = [1,2,3]
y = x
if id(x) == id(y):
    print('x and y have the same id')
else:
    print('x and y have different ids')

x and y have the same id

In [15]:
x.append(4)
print(x)
print(y) # the value of y also changes with x without having to explicitly change it

[1, 2, 3, 4]
[1, 2, 3, 4]

### Mutability and Immutability

If an objects value can be changed, it is mutable. Otherwise, it is immutable. <br/>
Examples of mutable objects are lists, sets and dictionaries. This means that multiple references to the same object will reflect changes made by any of the references.

Examples of immutable objects are Tuples, ints, floats and strings. This means that multiple references to the same object will then refer to different objects, should any of them change.

In [16]:
x = [1,2,3]
y = x
if id(x) == id(y):
    print('x and y have the same id')
else:
    print('x and y have different ids')

x and y have the same id

### Concept check

1. 10
2. [1]
3. 11
4. 10
5. 10
6. 20

### References and copies

When you use the assignment operator e.g. var1 = var2, a new reference to var2 is created. <br/>
if var2 is immutable, this effectively creates a copy of var2. If var2 is mutable, then the reference is copied.

Immuatble example

In [25]:
a = 5
b = a 
a = 6
# here, b is not affected
print(b)

5

Mutable example

In [26]:
a = [5,6,7]
b = a
a.append(8)
# here, b is affected
print(b)

[5, 6, 7, 8]

### Reference counting

Python keeps track of the number of references for each object. We can get the count by using `sys.getrefcount()`.

If we need to delete objects, we use the `del` keyword.

In [30]:
import sys
a = []
sys.getrefcount(a)

2

In [31]:
b = a 
c = a
d = a
sys.getrefcount(a)

5

In [32]:
del c
sys.getrefcount(a)

4

In [33]:
del d
sys.getrefcount(a)

3

### Comparing Objects

- `==` operator compares the value of two objects
- `is` operator compares the ids of two objects

In [34]:
a = [1,2,3]
b = [1,2,3]

In [35]:
a == b

True

In [36]:
a is b

False

In [37]:
print(id(a))
print(id(b))

2607725324736
2607725254400

In [38]:
c = ['a','b','d']
d = c

In [39]:
c == d

True

In [40]:
c is d

True

In [41]:
print(id(c))
print(id(d))

2607725379392
2607725379392

## First class objects

In python, all objects are said to be 'first class'. What this means is that all variables have equal status. The objects can be treated like data and can be included in collections, arguements, named variables, etc.

In [43]:
my_list = ['a', 123, 1.5,[],{'key1':'value1'}, set([1,2,3]), print_id_type, sys]

In [44]:
print(my_list)

['a', 123, 1.5, [], {'key1': 'value1'}, {1, 2, 3}, <function print_id_type at 0x0000025F2795A8B0>, <module 'sys' (built-in)>]

In [45]:
# Example: Pass one function as an arguement into another function
def run_this_function(function_to_run, first_arguement):
    return function_to_run(first_arguement)

In [46]:
run_this_function(print,'Hello World!')

Hello World!

In [47]:
run_this_function(list,{1,2,3}) # list({1,2,3})

[1, 2, 3]

# Built-in types for representing data

In python, data falls under different categories:
- None
- Numbers (int, float, complex, bool)
- Sequences (list, tuple, string)
- Mappings (dict)
- Sets (set, frozenset)

## None

The `None` object is used to represent null values

In [48]:
my_var = None 
if my_var is None:
    print('my_var has a null value')

my_var has a null value

In [49]:
def multiply(a,b):
    return a*b

In [50]:
c = multiply(10,5)
print(c)

50

In [51]:
def multiply(a,b):
    print(a*b)

In [52]:
c = multiply(10,5)

50

In [53]:
print(c)

None

## Numbers

We can perform arithmetic operations on different types of numbers

### Integers

In [54]:
# int + int: returns int (same for subtraction and multiplication)
print(5+4)
print(type(5+4))

9
<class 'int'>

In [56]:
# int / int: returns float
print(5/5)
print(type(5/5))

1.0
<class 'float'>

In [249]:
# floor division
print(9//4)
print(type(5//4))

2
<class 'int'>

In [59]:
# module (percent sign)
14%5

4

### Floating point numbers

In [61]:
# float * int : returns float
print(10.5*20)
print(type(10.5*20))

210.0
<class 'float'>

### Boolean

`True` or `False`, numerically equivalent to 1 and 0 respectively.

In [65]:
type('True') # not boolean

str

In [66]:
type(True) # Boolean

bool

In [67]:
type(True - False)

int

In [68]:
True - False + True + True

3

## Sequences

Sequences can be indexed using non-negative numbers (i.e. starting from 0). Examples of sequences are lists, tuples and strings. All sequences support indexing, slicing and iteration.

Operations on sequences include:
- Concatenation (`+`)
- Copying (`*`)
- Slicing

### Concatenation

In [70]:
list_1 = [1,2,3]
list_2 = ['a','b','c']
list_1 + list_2

[1, 2, 3, 'a', 'b', 'c']

In [72]:
str1 = 'Hello '
str2 = 'World'
str1 + str2

'Hello World'

### Copying

In [74]:
list_1 = [1,2,3]
list_1*2

[1, 2, 3, 1, 2, 3]

In [75]:
tuple_1 = ('a','b','c')
tuple_1*4

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [77]:
str_1 = 'bake off '
str_1*3

'bake off bake off bake off '

### Indexing

In [78]:
list_1 = [1,2,3]
list_1[1] # -> indexing starts from 0

2

In [235]:
my_str = 'HelloWorld'
my_str[5]

'W'

### Slicing

Slicing is done by `[start:stop]`

In [88]:
my_str = 'HelloWorld'
my_str[0:5]

'Hello'

In [81]:
my_str[3:7]

'loWo'

You can also include a `step` given by `[start:stop:step]` to slice every n'th element from the sequence (assuming your step is n)

In [82]:
my_str[0:7:2]

'Hloo'

In [89]:
my_str[1:6:3]

'eo'

You can also omit `start` and/or `stop`

In [90]:
my_str[5::2]

'Wrd'

In [91]:
my_str[::2]

'Hlool'

You can also use negative indices. Negative indices count from the back of the sequence.

In [92]:
my_str[-1]

'd'

In [93]:
my_str[-3::-1]

'roWolleH'

Reversing a sequence using a negative step

In [94]:
my_str = 'CE02'
my_str[::-1]

'20EC'

All of the above also works with other sequences, e.g. lists

In [95]:
my_list = [1,2,3,4,5,6,'a','b']
my_list[::-1]

['b', 'a', 6, 5, 4, 3, 2, 1]

#### Concept check

In [96]:
my_activities = ['Football', 'Gaming', 'Sleeping']
friend_activities = ['Running', 'Badminton', 'Being a knob']

In [106]:
combined_list = my_activities + friend_activities

In [101]:
combined_list_x3 = my_activities*3
print(combined_list_x3)

['Football', 'Gaming', 'Sleeping', 'Football', 'Gaming', 'Sleeping', 'Football', 'Gaming', 'Sleeping']

In [102]:
print(id(my_activities))
print(id(combined_list_x3))

2607726392384
2607725014016

In [107]:
combined_list[-3::]

['Running', 'Badminton', 'Being a knob']

### Membership (`in` operator)

In [109]:
my_str = 'Kubrick Group'
if 'brick' in my_str:
    print('brick is in Kubrick Group')

brick is in Kubrick Group

In [110]:
if 'text' not in my_str:
    print('text is not in Kubrick Group')

text is not in Kubrick Group

### Aggregation (reducing a sequence in to a single value)

- Built-in functions (`len`, `min`, `max`)
- Other methods  (`str.count()`)
- Functions from other packages, e.g. numpy

In [119]:
my_list = [1,2,3,4,5,5,5,5,5,6,7,8,9,10]

In [120]:
print(len(my_list))

14

In [121]:
print(min(my_list))

1

In [122]:
my_tuple = ('a','b','c','d','A','B','C','D')

In [123]:
print(len(my_tuple))

8

In [124]:
print(min(my_tuple))

A

In [125]:
print(max(my_tuple))

d

In [126]:
my_list.count(5)

5

## Mapping

- A mapping object represents a collection of key-value pairs (e.g. dictionaries)
- Objects in the collection are indexed by keys
- Keys in a dictionary need to be unique and hashable
- All immutable types in Python are hashable

In [127]:
my_dict = {1:'Hello', 2:'World'}

In [128]:
my_dict = {[1,2,3]:'Hello', 2:'World'} # This does not work because a list (mutable so unhashable) cannot be used as a key

TypeError: unhashable type: 'list'

In [238]:
my_dict = {1.5: 'Hello', 2.5: [1,2,3]} # The value can be mutable, keys must be immutable

In [239]:
# List the keys in the dictionary
list(my_dict.keys())

[1.5, 2.5]

In [240]:
# List the values in the dictionary
list(my_dict.values())

['Hello', [1, 2, 3]]

In [245]:
# List the items in the dictionary (key-value pairs)
list(my_dict.items())

[(1.5, 'Hello'), (2.5, [1, 2, 3])]

In [248]:
list(my_dict.items())[1][1][1]

2

In [141]:
# return the number 2 from the list
my_var = list(my_dict.items())
my_var1 = my_var[1]
my_var2 = my_var1[1]
my_var3 = my_var2[1]
print(my_var3)
# or
my_var[1][1][1]

2

2

In [142]:
# Accessing an individual value given its key
my_dict = {1.5: 'Hello', 2.5: [1,2,3]}
my_dict[1.5]

'Hello'

Adding a new key-value pair to an existing dictionary

In [143]:
my_dict

{1.5: 'Hello', 2.5: [1, 2, 3]}

In [144]:
# Add {3.5:'World'} to my_dict
my_dict[3.5] = 'World'
print(my_dict)

{1.5: 'Hello', 2.5: [1, 2, 3], 3.5: 'World'}

Deleting a key-value pair from a dictionary

In [145]:
del my_dict[2.5]
print(my_dict)

{1.5: 'Hello', 3.5: 'World'}

Adding more key-value pairs to this dictionary

In [146]:
my_dict2 = {4.5: 'CE02', 5.5: 'Python'}

In [147]:
my_dict.update(my_dict2)
print(my_dict)

{1.5: 'Hello', 3.5: 'World', 4.5: 'CE02', 5.5: 'Python'}

Creating an empty dictionary

In [148]:
my_dict_new = dict()
print(my_dict_new)
print(type(my_dict_new))

{}
<class 'dict'>

In [149]:
my_dict_new['name'] = 'Jeevan'
print(my_dict_new)

{'name': 'Jeevan'}

## Sets

Unordered collection of unique items. Common operations include:

- Union
- Intersection
- Difference
- Subset

In [152]:
set_a = {'a','b','c','d','e'}
set_b = {'c','c','c','d','f','g','g','h'}

print(set_a)
print(set_b)

{'c', 'd', 'a', 'b', 'e'}
{'c', 'd', 'h', 'g', 'f'}

### Set  (all unique values in both sets)

In [153]:
set_a.union(set_b)

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}

### Set Intersection (all common values in both sets)

In [154]:
set_a.intersection(set_b)

{'c', 'd'}

### Set Difference (all values in the first set not in the second set)

In [155]:
set_a.difference(set_b)

{'a', 'b', 'e'}

### Subset Checking (check if the first set is a subset of the second set)

In [157]:
set_a.issubset(set_b)

False

In [158]:
set_c = {'a','b'}
set_d = {'a','b','c','d'}

In [161]:
set_c.issubset(set_d)

True

In [162]:
set_d.issubset(set_c)

False

### Disjoint checking (Check if two sets are disjoint (i.e. they have no elements in common)

In [163]:
set_c.isdisjoint(set_d)

False

In [164]:
set_b.isdisjoint(set_c)

True

## Converting between data types

Converting from a tuple to a list or a list to a set etc.

In [166]:
my_tuple = (1,2,3)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3]

In [167]:
my_list = [1,1,2,3,4,4,4,5,5,7,8,8,8,9,10]
my_set = set(my_list)
print(my_set)
my_list2 = list(my_set)
print(my_list2)

{1, 2, 3, 4, 5, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 7, 8, 9, 10]

Converting from an integer to a string

In [169]:
a = 123
b = str(a) # 123 is converted to '123'
print(b)
type(b)

123

str

In [170]:
1 + 2

3

In [171]:
'1' + '2'

'12'

In [172]:
int('1') + int('2')

3

In [173]:
str(1) + str(2)

'12'

In [174]:
float(50)

50.0

In [175]:
int(3.1415)

3

In [176]:
str(12.965)

'12.965'

#### Concept check

In [184]:
my_activities = {'Football', 'Gaming', 'Sleeping'}
friend_activities = {'Running', 'Gaming', 'Being a knob'}
my_activities.intersection(friend_activities)

{'Gaming'}

## String methods

We will look at some of the commonly used string methods

In [197]:
my_str = 'The quick brown fox jumped over the lazy dog'

In [186]:
# count occurences
my_str.count('t')

1

In [189]:
print(my_str.count('he'))
print(my_str.count(' '))
print(my_str.count('ck br'))

2
8
1

In [232]:
idx = my_str.find('fox')
print(f'the word fox occurs at index {idx}')

the word fox occurs at index 16

In [196]:
my_str2 = my_str.replace('lazy','sleeping')
print(my_str2)

The quick brown fox jumped over the sleeping dog

In [199]:
my_str3 = '\n\n\n\n\t\tHello World\n\n\n\t'
print(my_str3)

		Hello World

In [200]:
print(my_str3.strip()) # removes all leading and trailing whitespaces

Hello World

In [201]:
words = my_str.split()
print(words)

['The', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

In [202]:
' '.join(words)

'The quick brown fox jumped over the lazy dog'

In [203]:
my_str.upper()

'THE QUICK BROWN FOX JUMPED OVER THE LAZY DOG'

In [207]:
my_str.lower()
my_str[0].upper()
print(my_str)

The quick brown fox jumped over the lazy dog

# Built-in types for representing programming structure

There are several categories of types for representing programming structure:

- Classes
- Callables
- Modules and Packages

## Classes

In [208]:
class Dog:
    def bark(self):
        print('woof')

In [209]:
maltese = Dog()
maltese.bark()

woof

## Callables

Callables are objects that support the function call operation. This includes functions and methods. <br/>
Hint: If you can put round brackets after the object, then it is callable

In [211]:
len([1,2,3,4])

4

You can check if an object is callable by using the in-built `callable` function

In [212]:
callable(len)

True

In [213]:
callable(10) #10(5)

False

In [214]:
callable(Dog)

True

In [216]:
callable(multiply)

True

In [217]:
callable(print_id_type)

True

In [218]:
print_id_type(maltese)

id of the variable is 2607737825696
type of the variable is <class '__main__.Dog'>

In [219]:
callable(list)

True

In [220]:
callable(callable)

True

In [221]:
x = 10
callable(x)

False

In [222]:
x = [1,2,3]
callable(x)

False

In [224]:
callable(words)

False

## Modules and Packages

In [225]:
import math
math.sqrt(16)

4.0

In [226]:
import seaborn as sns

In [227]:
import sklearn

In [228]:
from flask_restful import Resource

ModuleNotFoundError: No module named 'flask_restful'