## Boolean expressions and Truth values

An expression is any combination of symbols that represents a value.  

A boolean expression is an expression that returns a boolean value (True, False).



|A|B|A and B|A or B|not A|

|-|-|-      |-     |-    |

|F|F|F      |F     |T    |

|F|T|F      |T     |T    |

|T|F|F      |T     |F    |

|T|T|T      |T     |F    |




~~~

The 'and', 'or', and 'not' keywords are commonly used to form boolean expressions.

- x or y : If x is considered false, return y. Otherwise return x.

- x and y: If x is considered false, return x. Otherwise return y.

- not x  : If x is considered false, return True. Otherwise return False.



By default, an object is considered to be true unless either of the following holds:

- it has a __len__() method that returns zero.

- it has a __bool__() method that returns false.

- it has value of zero.

~~~

Every Python expression can be interpreted as either `True` or `False`

Example:

```

my_list = [] # False -- length is zero

my_list = [1] # True -- length is not zero

my_dict = {} # False -- length is zero

```

In [1]:
True or False

True

In [2]:
True and False

False

In [3]:
False and True

False

In [4]:
'Hello' and False

False

In [5]:
my_list = []
my_list.__len__()

0

In [6]:
False and my_list

False

In [61]:
my_list = [0]
my_list.__len__()

1

In [62]:
False or my_list.__len__()

1

In [9]:
my_list = []
if my_list: # my_list will be evaluated as false
    print('inside if block')
else:
    print('inside else block')

inside else block

In [10]:
my_set = {0}
if my_set:
    print('inside if block')
else:
    print('inside else block')

inside if block

In [11]:
len(my_set)

1

In [12]:
abc = 0
if abc:
    print('inside if block')
else:
    print('inside else block')

inside else block

In [13]:
bool(abc)

False

### Example

In [63]:
user_input = int(input('Please enter a number: '))

Please enter a number: 20

In [64]:
user_input

20

In [65]:
# Incorrect solution
if user_input < 10 or 100:
    print('number is less than 10 or equal to 100')
else:
    print('number is greater than 10 and not equal to 100')

number is less than 10 or equal to 100

In [66]:
# Correct solution
if user_input < 10 or user_input == 100:
    print('number is less than 10 or equal to 100')
else:
    print('number is greater than 10 and not equal to 100')

number is greater than 10 and not equal to 100

## Conditional execution

`if`, `elif` and `else` statements are used for conditional execution

`if` block



```
if <condition>:
# block to execute if <condition> is True
<statement>
<statement>
...
```



`if-else` block



```
if <condition>:
# block to execute if <condition> is True
<statement>
<statement>
...
else:
# block to execute if <condition> is False
<statement>
<statement>
...
```



`if-elif-else` block



```
if <condition>:
# block to execute if <condition> is True
<statement>
<statement>
...
elif <condition2>:
# block to execute if <condition2> is True
<statement>
<statement>
...
elif <condition3>:
# block to execute if <condition3> is True
<statement>
<statement>
...
...
else:
# block to execute if none of the conditions above are True
<statement>
<statement>
...
```

Notes

 - Blocks are executed when the relevant boolean expression is true
 - We can have an arbitrary number of elif statements. Order matters in elif.
 - `elif` and `else` blocks are optional
 - Only one block of statements is executed. Boolean expressions are checked from top to bottom.

In [18]:
score = 75

if score > 90:
    print('Grade is A')
elif score > 80:
    print('Grade is B')
elif score > 70:
    print('Grade is C')
elif score > 50:
    print('Grade is D')
else:
    print('Grade is F')
print('Thank you!')

Grade is C
Thank you!

In [19]:
user_salary = int(input('What is your salary?'))
if user_salary < 12000:
    tax = 0
elif 12000 <= user_salary < 50000:
    tax = (user_salary - 12000)*0.2
else:
    tax = (user_salary - 50000)*0.4 + 38000*0.2
print(f'Your tax is £{tax}')

What is your salary?100000
Your tax is £27600.0

## Iteration and Looping 

 - `for` loops
 - `while` loops

### `for` loop

For loops are used to iterate through an iterable object 

```
for i in <iterable>:
    <statement>
    <statement>
```

 - Examples of iterable objects include lists, tuples, sets, dictionaries and strings
 - `i` is called the iterator variable

In [20]:
# Iterate through a list
list_a = [1,2,3,4,5,6,7,8,9,10]
for item in list_a:
    print(item)
print('Finished!')

1
2
3
4
5
6
7
8
9
10
Finished!

In [21]:
# Iterate through a set
set_a = {'sleeping','eating','drinking','playing'}
for i in set_a:
    print(i.upper())

DRINKING
SLEEPING
EATING
PLAYING

In [67]:
# Iterate through a dictionary
phone_book = {'Matthew': 12345,'Caitlin': 67890,'James': 34567}
for i in phone_book:
    print(i)
    print(phone_book[i])

Matthew
12345
Caitlin
67890
James
34567

In [71]:
# Iterate through the keys in a dictionary
for i in phone_book.keys():
    print(i)

Matthew
Caitlin
James

In [24]:
# Iterate through the values in a dictionary
for i in phone_book.values():
    print(i)

12345
67890
34567

In [25]:
# Iterate through the items in a dictionary
for i in phone_book.items():
    print(i)

('Matthew', 12345)
('Caitlin', 67890)
('James', 34567)

In [26]:
# Iterate through the items and unpack each item into key and value
for key, value in phone_book.items():
    print(f'Key is {key} and Value is {value}')

Key is Matthew and Value is 12345
Key is Caitlin and Value is 67890
Key is James and Value is 34567

### Variable Unpacking

In [27]:
a,b,c,d = ('Name','Gian','Number',12345)

In [28]:
print(a)
print(b)
print(c)
print(d)

Name
Gian
Number
12345

#### Concept check

In [29]:
a = [1,2,3,4,5,6,7,8,9,10]

for i in a:
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [30]:
a = [1,2,3,4,5,6,7,8,9,10]

x = len(a)
num_range = range(0,x,1)
# num_list = list(num_range)

for i in num_range:
    if i%2 == 0:
        print(a[i+1])

2
4
6
8
10

### Range function

Built-in function `range` that generates a range of numbers.

- range(n) generates numbers from 0 to n-1
- range(m,n) generates numbers from m to n-1
- range(m,n,s) generates numbers from m to n-1 with a step s

In [31]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
range(10)

range(0, 10)

In [33]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

Using a counter to keep track of the loop count

In [34]:
my_list = ['a','b','c','d','e','f','g','h','i','j']
count = 0
for i in my_list:
    count = count + 1 # count += 1 is the same as count = count + 1
    print(f'Count is {count} and Value is {i}')

Count is 1 and Value is a
Count is 2 and Value is b
Count is 3 and Value is c
Count is 4 and Value is d
Count is 5 and Value is e
Count is 6 and Value is f
Count is 7 and Value is g
Count is 8 and Value is h
Count is 9 and Value is i
Count is 10 and Value is j

`enumerate` function

In [35]:
list(enumerate(my_list))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 'e'),
 (5, 'f'),
 (6, 'g'),
 (7, 'h'),
 (8, 'i'),
 (9, 'j')]

In [36]:
my_list = ['a','b','c','d','e','f','g','h','i','j']
for count, i in enumerate(my_list):
    print(f'Count is {count+1} and Value is {i}')

Count is 1 and Value is a
Count is 2 and Value is b
Count is 3 and Value is c
Count is 4 and Value is d
Count is 5 and Value is e
Count is 6 and Value is f
Count is 7 and Value is g
Count is 8 and Value is h
Count is 9 and Value is i
Count is 10 and Value is j

#### Concept check

In [37]:
import random
rand_list = []

for i in range(20):
    rand_list.append(random.randint(0,100))
print(rand_list)

print('---------')

count = 0
my_list1 = []

for i in range(20):
    count += 1
    # print(f'Count is {count} and Value is {rand_list[i]*10}')
    a = (count,rand_list[i]*10)
    my_list1.append(a)
print(my_list1)

print('---------')

my_list2 = []

for count, i in enumerate(rand_list):
    # print(f'Count is {count+1} and Value is {i+10}')
    a = (count+1, i+10)
    my_list2.append(a)
print(my_list2)

[4, 38, 98, 68, 21, 69, 62, 57, 6, 33, 98, 39, 95, 69, 37, 79, 4, 45, 77, 41]
---------
[(1, 40), (2, 380), (3, 980), (4, 680), (5, 210), (6, 690), (7, 620), (8, 570), (9, 60), (10, 330), (11, 980), (12, 390), (13, 950), (14, 690), (15, 370), (16, 790), (17, 40), (18, 450), (19, 770), (20, 410)]
---------
[(1, 14), (2, 48), (3, 108), (4, 78), (5, 31), (6, 79), (7, 72), (8, 67), (9, 16), (10, 43), (11, 108), (12, 49), (13, 105), (14, 79), (15, 47), (16, 89), (17, 14), (18, 55), (19, 87), (20, 51)]

Nested `for` loops

- If you have an inner and an outer for loop, every one run of the outer loop, the inner loop runs to completion
- In every iteration of the outer loop, the inner loop starts from the beginning

In [38]:
list_i = [1,2,3]
list_j = ['a','b','c']

for i in list_i:   # outer loop
    print('***')
    for j in list_j:   # inner loop
        print(i,j)
        print('---')
print('+++')

***
1 a
---
1 b
---
1 c
---
***
2 a
---
2 b
---
2 c
---
***
3 a
---
3 b
---
3 c
---
+++

### `while` loops

A while loop continues to execute until the condition (boolean expression) evalutes to `False`. <br/>

```
while <condition>:
    statement
    statement
```

In [39]:
# This loop runs forever as n is always greater than 0
n = 10
# while n > 0:
    print(n)
    
print('Stopped')

IndentationError: unexpected indent (<ipython-input-39-3198afe16f7a>, line 4)

In [ ]:
n = 10
while n > 0:
    print(n)
    n-= 1 # n = n-1
    
print('Stopped')

`break` statement can be used to break out of a loop (`break` works with both `for` and `while` loops)

In [ ]:
# This loop runs forever as `True` is always `True`
n = 10
while True:
    print(n)
    n -= 1
print('Stopped!')

In [ ]:
# This loop runs forever as `True` is always `True`
n = 10
while True:
    print(n)
    n -= 1
    if n<0:
        break
print('Stopped!')

In [72]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i > 5:
        break
    print(i)

1
2
3
4
5

`continue` statement can be used to skip the rest of the current iteration in a loop (`continue` also works for `for` and `while` loops)

In [73]:
list_a = [1,2,3,4,5,6,7,8,9,10]
n = 1
while n<= 10:
    n +=1
    if n%2 == 1:
        continue
    print(n)

2
4
6
8
10

#### Concept check

In [43]:
import random 

n = random.randint(1,10)
print(n)

while n<=7:
    n = random.randint(1,10)
    print(n)

4
4
4
5
8

In [44]:
while True:
    n = random.randint(1,10)
    print(n)
    if n>7:
        break

3
5
5
5
2
8

## Exceptions

When an error occurs during execution of your code, an exception is raised.

In [60]:
1/0

ZeroDivisionError: division by zero

In [47]:
f = open('non_existent_file.txt','r')

FileNotFoundError: [Errno 2] No such file or directory: 'non_existent_file.txt'

In [48]:
my_list = [1,2,3]
my_list[3]

IndexError: list index out of range

### Raising exceptions

Exceptions indicate errors and break out of the normal control flow of the program. Exceptions can be raised by using the `raise` statement.

In [49]:
def send_email(email_address):
    if '@' not in email_address:
        raise Exception('The email address is not valid!')
    else:
        # code to send email
        print('Email has been sent')

In [50]:
send_email('johnsmirth@kubrickgroup.com')

Email has been sent

In [51]:
send_email('johnsmirth#kubrickgroup.com')

Exception: The email address is not valid!

### Catching and handling exceptions

Exceptions are caught and handled using the `try-except` block.

Execution stops in the try block as soon as an exception occurs, and jumps straight into the except block

```
try: 
    <statement>
    <statement>
except: 
    <statement>
    <statement>   
```

In [58]:
def divide(a,b):
    try:
        result = a/b
        return result
    except ZeroDivisionError:
        print('Cannot divide by zero!')
    except TypeError:
        try:
            result = float(a)/float(b)
            return result
        except:
            print('Can divide the type provided!')

In [59]:
c = divide(3,'2')
print(c)

1.5